.container_layout{
    display: flex;
    background-color: #e1d7e1;
}
.content_layout{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content_layout button{
    margin-right: 10px;
    background-color: #04013b;
    padding: 7px;
    border-radius: 8px;
    transition: .4s;
    border: 1px solid #04013b;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.content_layout button:hover{
    border-radius: 20px;
    background-color: transparent;
    color: #08018f;
    border: 1px solid #08018f;
}
.container_home{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.section_services{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.table_services{
    padding: 20px;
    width: 800px;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    width: 800px;
    background-color: #04013b;
    padding: 10px;
}
.table_services thead tr th{
    padding: 10px;
}
.table_services tbody{
    background-color: white;
}
.table_services tbody th{
    color: #000;
    padding: 10px;
}
.table_services tbody th button{
    background-color:#04013b;
    border-radius: 50%;
}